:root {
    --logo-size: 5%;
}
body {
    background-color: #111111;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.logo {    
    height: var(--logo-size);
    width: var(--logo-size);
}

#titolo {
    
}



nav {
    
    display: flex;
    justify-content: center;
}

nav li{
    display: inline;
}


