:root {
    --logo-size: 5%;
}
body {
    background-color: #111111;
}

header {
    text-align: center;
    justify-items: center;
    display: flex;
}

#logo {    
    height: var(--logo-size);
    width: var(--logo-size);
    margin-right: 42.5%;
}

#titolo {
    
}


nav {
}

nav div {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


